@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);


* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans TC', "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71; }

a {
  font-size: 1.5em;
  color: #a3a3a3;
  text-decoration: none;
  vertical-align: middle;}
  a:hover {
    text-decoration: underline; }

.title{
  font-size: 1.7em;
  margin: 3em 10px 10px;
  text-align: center;
  display: block;
}
h1.project-name {
  font-size: 4em;
  font-weight: 100;
}

p{
  text-align: center;
}

section{
  margin: 0 10%;
}

section img{
  width: 80%;
  display: block;
  margin: 30px auto 0;
  box-shadow: 1px 1px 8px rgba(0,0,0,0.1);
}

footer{
  color: #b9b9b9;
  border-top: solid 1px #eff0f1;
  padding: 3em 0;
  margin-top: 2em;
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
}
footer .mail{
  color: #606c71;
}

.skill{
  border-bottom: 1px solid #e3e3e3;
  padding-bottom: 40px;
}

.skill .title{
  text-align: left;
  margin-left: 0;
}

.skill p{
  text-align: left;
}
